.row
  .large-12.columns
    %h2 Accelerometer
    %h3 Device Axis Values
    %p
      %a{href: 'http://caniuse.com/#feat=deviceorientation', target: '_blank'}
        Current Browser Support
.row
  .large-12.columns
    .axes
      .x-axis.axis
      .y-axis.axis
      .orient.axis
