.row
  .large-12.columns
    %h2 Device Axis Values
    %label{for: 'x-axis'} X Axis
    %input#x-axis{type: 'text'}
    %label{for: 'y-axis'} Y Axis
    %input#y-axis{type: 'text'}
    %label{for: 'orientation'} Orientation
    %input#orientation{type: 'text'}
    %h2 Shake to send feedback
    %p.shaken