.row
  .large-12.columns
    %h2 Camera Streaming
    %div{class: 'vid'}
      %video{autoplay: true, width: 320, height: 240}

    %button.cameraOn Turn On
    %button.cameraOff Turn Off
    %button.cameraSwitch Switch Cameras
