%h2 Camera Still
%label{for: 'take-picture'}
  Why don&#39;t you take a picture?
%input{type: 'file', id: 'take-picture', accept: 'image/*'}
%img{src: 'about:blank', alt: '', class: 'show-picture', height: '300'}
%div#error
