.row
  .large-12.columns
    .weather
      %h2 Geolocation
      %button.locate Get your local weather
      %h3 
        Weather for 
        %span.city
      %table
        %tr
          %th
            Temp (C)
          %td.tempc
        %tr
          %th
            Temp (F)
          %td.tempf
        %tr
          %th
            Humidity
          %td.humid
        %tr
          %th
            Description
          %td.desc
            %img.icon
