.row
  .large-12.columns
    .geowrap
      %h2 Geolocation
      %button.locate Get your location
      .geolocate
        %h3 Coordinates:
        %p.coords
        %img.geoMap
      .error.alert-box.app-alert.alert Geolocation is not available
