.row
  .large-12.columns
    %p.letus
      Let us show you what browser based mobile web-apps are capable of and can do!
%ul.mobile-list.homelist
  %li
    %a.sprite-camera{href: 'camera_still'}
      Camera Still
      %i.chevron
  %li
    %a.sprite-streaming{href: 'camera_streaming'}
      Camera Streaming
      %i.chevron
  %li
    %a.sprite-video{href: 'video'}
      Video
      %i.chevron
  %li
    %a.sprite-geolocate{href: 'geolocate'}
      Geolocate
      %i.chevron
  %li
    %a.sprite-input{href: 'input_types'}
      Input Types
      %i.chevron
  %li
    %a.sprite-filters{href: 'filters'}
      Filters
      %i.chevron
  %li
    %a.sprite-battery{href: 'battery_status'}
      Battery Status
      %i.chevron
  %li
    %a.sprite-vibrate{href: 'vibrate'}
      Vibrate
      %i.chevron
  %li
    %a.sprite-acc{href: 'accelerometer'} 
      Accelerometer
      %i.chevron
  %li
    %a.sprite-home{href: 'homepage_icon'}
      Homepage Icon
      %i.chevron
  %li
    %a.sprite-offline{href: 'offline'}
      Offline Mode
    %i.chevron

