.row
  .large-12.columns
    %p.letus
      Let us show you what browser based mobile web-apps are capable of and can do!
%ul.mobile-list.homelist
  %li
    %a.sprite-camera{href: 'image_capture'}
      Image Capture
      %i.chevron
  %li
    %a.sprite-video{href: 'video'}
      Video Capture
      %i.chevron
  %li
    %a.sprite-streaming{href: 'camera_streaming'}
      Camera Streaming
      %i.chevron
  %li
    %a.sprite-geolocate{href: 'geolocate'}
      Geolocation
      %i.chevron
  %li
    %a.sprite-input{href: 'input_keyboards'}
      Input Keyboards
      %i.chevron
  %li
    %a.sprite-filters{href: 'filters'}
      Display Filters
      %i.chevron
  %li
    %a.sprite-battery{href: 'battery_status'}
      Battery Status
      %i.chevron
  %li
    %a.sprite-vibrate{href: 'vibrate'}
      Vibrate Notification
      %i.chevron
  %li
    %a.sprite-acc{href: 'accelerometer'}
      Accelerometer
      %i.chevron
  %li
    %a.sprite-home{href: 'homescreen_icon'}
      Homescreen Icon
      %i.chevron
  %li
    %a.sprite-offline{href: 'offline'}
      Offline Mode
    %i.chevron
