.row
  .large-12.columns
    %h2 Image Capture
    %label.file_label{for: 'take-picture'}
      Why don&#39;t you take a picture?
    %input.hide_input{type: 'file', id: 'take-picture', accept: 'image/*'}
    %img{src: 'about:blank', alt: '', class: 'show-picture', height: '300'}
    %div#error
