%h1 MobileCan
.row
  .large-8.columns
    %ul.mobile-list
      %li
        %a{href: 'camera_still'}
          Camera Still
          %i.chevron
      %li
        %a{href: 'camera_streaming'}
          Camera Streaming
          %i.chevron
      %li
        %a{href: 'video'}
          Video
          %i.chevron
      %li
        %a{href: 'geolocate'}
          Geolocate
          %i.chevron
      %li
        %a{href: 'input_types'}
          Input Types
          %i.chevron
      %li
        %a{href: 'filters'}
          Filters
          %i.chevron
      %li
        %a{href: 'vibrate'}
          Vibrate
          %i.chevron
