.row
  .large-12.columns.input_types
    %h2 Input Keyboards
    %p The new input types added in HTML5 allow modern mobile browsers to bring up a custom keyboard based on what type of input is selected.
    %p Give some of these examples a try to see for yourself how easy it is input data into a mobile web application. Note that no JavaScript was needed for any of the examples.
    %p (Browser support may vary for some input types so you may end up a seeing a regular keyboard.)
    %label{for: 'email'}
      Enter your email
    %input{type: 'email', id: 'email'}
    %p
      %a{href: 'http://caniuse.com/#feat=input-email-tel-url', target: '_blank'}
        Current Browser Support
    %label{for: 'tel'}
      Enter your phone number
    %input{type: 'tel', id: 'tel'}
    %p
      %a{href: 'http://caniuse.com/#feat=input-email-tel-url', target: '_blank'}
        Current Browser Support
    %label{for: 'date'}
      Enter a date
    %input{type: 'date', id: 'date'}
    %p
      %a{href: 'http://caniuse.com/#feat=input-datetime', target: '_blank'}
        Current Browser Support
    %label{for: 'month'}
      Enter a month
    %input{type: 'month', id: 'month'}
    %p
      %a{href: 'http://caniuse.com/#feat=input-datetime', target: '_blank'}
        Current Browser Support
    %label{for: 'time'}
      Enter a time
    %input{type: 'time', id: 'time'}
    %p
      %a{href: 'http://caniuse.com/#feat=input-datetime', target: '_blank'}
        Current Browser Support
    %label{for: 'num'}
      Enter your lucky number
    %input{type: 'number', id: 'num'}
    %p
      %a{href: 'http://caniuse.com/#feat=input-number', target: '_blank'}
        Current Browser Support
    %label{for: 'search'}
      Search
    %input{type: 'search', id: 'search', placeholder: 'Search'}
    %label{for: 'color'}
      Pick a color
    %input{type: 'color', id: 'color'}
    %p
      %a{href: 'http://caniuse.com/#feat=input-color', target: '_blank'}
        Current Browser Support
