!!!
%html
  %head{lang: 'en-US'}
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content:'width=device-width'}
    %meta{name:'apple-mobile-web-app-capable', content:'yes'}
    %title MobileCan
    %link{rel: 'icon', type:'image/png', href: 'img/favicon.png'}
    %link{href: 'css/foundation/foundation.min.css', rel: 'stylesheet'}
    %link{href: 'css/foundation-mobile.css', rel: 'stylesheet'}
    / %link{href:'http://fonts.googleapis.com/css?family=Oswald:400,700', rel: 'stylesheet', type: 'text/css'}
    %link{href: 'css/master.css', rel: 'stylesheet'}
    %link{rel: 'manifest', href:'manifest.json'}
    %link{rel: 'icon', sizes: '192x192', href: 'icons/higres.png'}
    %link{href: 'icons/touch-icon-iphone.png', rel: 'apple-touch-icon'}
    %link{href: 'icons/touch-icon-ipad.png', rel: 'apple-touch-icon', :sizes => '76x76'}
    %link{href: 'icons/touch-icon-iphone-retina.png', rel: 'apple-touch-icon', sizes: '120x120'}
    %link{href: 'icons/touch-icon-ipad-retina.png', rel: 'apple-touch-icon', sizes: '152x152'}
  %body
    %nav.top-bar
      %ul.title-area.row
        %li.name
          %h1
            %a.logo{href: '/'}
              Mobile
              %span.green>< Can
        %li{class: 'toggle-topbar menu-icon'}
          %a{href: '#'}
            %span
      %section.top-bar-section
        %ul.left
          %li.divider
          %li
            %a{href: '/'} Home
          %li
            %a{href: 'battery_status'} Battery Status
          %li
            %a{href: 'camera_still'} Camera Still
          %li
            %a{href: 'camera_streaming'} Camera Streaming
          %li
            %a{href: 'video'} Video
          %li
            %a{href: 'geolocate'} Geolocate
          %li
            %a{href: 'input_types'} Input Types
          %li
            %a{href: 'filters'} Filters
          %li
            %a{href: 'vibrate'} Vibrate
          %li
            %a{href: 'accelerometer'} Accelerometer
          %li
            %a{href: 'homepage_icon'} Homepage Icon
          %li
            %a{href: 'offline'} Offline Mode
          %li.divider
    %div{role: "main"}
      = yield
  %script{src: 'js/jquery.min.js'}
  %script{src: 'js/master.js'}
  %script{src: 'js/battery.js'}
  %script{src: 'js/geolocate.js'}
  %script{src: 'js/camera-stream.js'}
  %script{src: 'js/image.js'}
  %script{src: 'js/filters.js'}
  %script{src: 'js/foundation.min.js'}
  %script{src: 'js/foundation-mobile.js'}
  %script{src: 'js/vibrate.js'}
  %script{src: 'js/video.js'}
  %script{src: 'js/accelerometer.js'}
  :javascript
    $(document).foundation();
