!!!
%html
  %head{lang: 'en-US'}
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content:'width=device-width'}
    %title MobileCan
    %link{href: 'css/foundation/foundation.min.css', rel: 'stylesheet'}
    %link{href: 'css/foundation-mobile.css', rel: 'stylesheet'}
    %link{href: 'css/master.css', rel: 'stylesheet'}
  %body
    %nav{class: 'top-bar'}
      %ul{class: 'title-area'}
        %li{class: 'name'}
          %h1
            %a.logo{href: '/'}
              MobileCan
        %li{class: 'toggle-topbar menu-icon'}
          %a{href: '#'}
            %span
      %section{class:'top-bar-section'}
        %ul{class: 'left'}
          %li{class: 'divider'}
          %li{class: 'active'}
            %a{href: '/'} Home
          %li{class: 'divider'}
    %div.row{role: "main"}
      %div.large-12.columns
        = yield
  %script{src: 'js/jquery.min.js'}
  %script{src: 'js/battery.js'}
  %script{src: 'js/geolocate.js'}
  %script{src: 'js/camera-stream.js'}
  %script{src: 'js/image.js'}
  %script{src: 'js/filters.js'}
  %script{src: 'js/foundation.min.js'}
  %script{src: 'js/foundation-mobile.js'}
  :javascript
    $(document).foundation();
    $('.vibrate').click(function(){
      window.navigator.vibrate(500);
    });
