.row
  .large-12.columns
    %h2 Offline Mode
    %p The application cache feature of HTML5 makes it easy to add an &quot;offline mode&quot; to your web application. To demonstrate, we have created a simple shopping list application which can be loaded and used even without an internet connection. It also stores the items in the list between visits without cookies by using web storage.

    %p
      %a{href: 'shopping_list.html', target: '_blank'} Shopping List application

