!!!
%html
  %head{lang: 'en-US'}
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content:'width=device-width'}
    %title Welcome to MobileCan
    %link{href: 'css/foundation/foundation.min.css', rel: 'stylesheet'}
    %link{href: 'css/foundation-mobile.css', rel: 'stylesheet'}
    %link{href: 'css/splash.css', rel: 'stylesheet'}
  %body#splash.row
    %div.large-12.columns
      %h1#splash
        %a.splash-logo{href: 'home'}
          Mobile
          %span.green>< can
      %p
        Let us show you what browser based mobile web-apps are capable of and can do!
