.row
  .large-12.columns
    %h2 Vibrate
    %p
      %a{href: 'http://caniuse.com/#feat=vibration', target: '_blank'}
        Current Browser Support

    .error.vibrate-error.alert-box.app-alert.alert Vibration is not supported in this browser.
    .vibration
      %h3 Play eight bars worth of notes at 72 beats per minute
      .note
        %input{type: :radio, name: :note, id: :Eighth, value: :Eighth}
        %label{for: :Eighth} Eighth Notes
      .note
        %input{type: :radio, name: :note, id: :Quarter, value: :Quarter, checked: true}
        %label{for: :Quarter} Quarter Notes
      .note
        %input{type: :radio, name: :note, id: :Half, value: :Half}
        %label{for: :Half} Half Notes
      .note
        %input{type: :radio, name: :note, id: :Whole, value: :Whole}
        %label{for: :Whole} Whole Notes
      %div
        %input{type: :submit, class: 'vibrate button', value: 'Vibrate your phone'}
        %input{type: :button, class: 'stopVibrate button', value: 'Cancel'}
