body, h1{
  font-family: 'Oswald', sans-serif;

}

body{
  padding-bottom: 2em;

}

.top-bar .toggle-topbar.menu-icon a span{
  color: #50b948;
  box-shadow:0 10px 0 1px #50b948,0 16px 0 1px #50b948,0 22px 0 1px #50b948;

}

.logo{
  text-transform: uppercase;
  padding-left: 30px !important;
  background-position: 0px 5px;

}

.green{
  color: #50b948;

}

.mobile-list li{
  border-left: none;
  border-right: none;

}

.mobile-list li a, .mobile-list li a:focus, .mobile-list li a:active, .logo{
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  display: block;

}

.mobile-list li a{
  padding: 15px 30px 15px 45px;

}

.sprite-camera{
  background-position: 8px -61px !important;

}

.sprite-filters{
  background-position: 8px -451px !important;

}

.sprite-geolocate{
  background-position: 6px -266px !important;

}

.sprite-input{
  background-position: 8px -352px !important;

}

.sprite-streaming{
  background-position: 10px -119px !important;

}

.sprite-vibrate{
  background-position: 8px -558px !important;

}

.sprite-video{
  background-position: 9px -196px !important;

}

.sprite-battery{
  background-position: 8px -685px !important;

}

.vid{
  height: 240px;
  width: 320px;
  margin: auto;

}

.show-picture{
  max-width: 50%;
  display: none;
}

.filters{
  padding: 1em 0;
}

.sample-img{
  max-width: 85%;
  margin: .5em 0 1.5em;
}

input[type=range]{
  width: 50%;

}

.letus{
  text-align: center;
  margin: 1em 0;
  font-size: 1.2em;
  line-height: 1.6em;

}

.error, .geolocate, .cameraSwitch{
  display: none;
}

.input_types label{
  padding-top: .5em;
}

.hide_input{
  display: none;
}

.file_label{
  border: 1px solid #ccc;
  border-radius: 3px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.filename{
  padding: 1em 0;
}

.shaken{
  text-align: center;
  font-size: 1.5em;
  margin-top: 1em;
}

.note label{
  display: inline;
}

/* Loading indicator */

.spinner-wrap{
  position: fixed;
  top: 40%;
  width: 100%;
}
.sk-spinner-wave.sk-spinner {
  margin: 0 auto;
  width: 50px;
  height: 30px;
  text-align: center;
  margin: auto;
  font-size: 10px;
}
.sk-spinner-wave div {
  background-color: #666;
  opacity: .9;
  height: 100%;
  width: 6px;
  display: inline-block;
  margin-left: 2px;
  -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
          animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
}

.sk-spinner-wave div:first-child{
  margin-left: 0px;
}
.sk-spinner-wave .sk-rect2 {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; 
}
.sk-spinner-wave .sk-rect3 {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; 
}
.sk-spinner-wave .sk-rect4 {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; 
}
.sk-spinner-wave .sk-rect5 {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; 
}
@-webkit-keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4); 
}
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); 
  } 
}
@keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4); 
}
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); 
  } 
}

/* Battery Status */
@font-face {
  font-family: 'Battery';
  src: url('fonts/battery.eot');
  src: url('fonts/battery.eot#iefix') format('embedded-opentype'),
       url('fonts/battery.woff') format('woff'),
       url('fonts/battery.ttf') format('truetype'),
       url('fonts/battery.svg#battery') format('svg');
  font-weight: normal;
  font-style: normal;
}

.batteryCenter{
  text-align: center;
}
.battery {
  text-align: left;
  width: 100px;
  height: 40px;
  display: inline-block;
  border: 5px solid #000;
  position: relative;
  background-color: #fff;
}

.battery .level {
  display: inline-block;
  height: 100%;
  width: 2%;
}

.battery .level{
  background-color: #cccccc;
}

.battery .level.charging:before {
  content: '\e800';
  display: block;
  height: 100%;
  width: 100%;
  color: #fff;
  margin: 0 50%;
  color: #666;
  line-height: 30px;
  font-family: 'Battery';
  font-size: 25px;
}

.battery::after {
  content: "";
  display: block;
  width: 10px;
  height: 20px;
  background-color: #000;
  position: absolute;
  right: -12px;
  top: 6px;
}

.level-text{
  margin-left: 10px;
  font-size: 18px;
  vertical-align: middle;
}