body, h1{
  font-family: 'Oswald', sans-serif;
}

#splash{
  text-align: center;
  background: #000;
  color: #fff;
  padding-top: 3em;
}

#splash h1{
  font-size: 2.5em;
  text-transform: uppercase;
}

#splash a{
  color: #fff;
}

.splash-logo{
  background: url('../img/splash-logo.png') left 0px no-repeat;
  background-size: 47px;
  padding: 10px 0px 20px 65px;
}

#splash p{
  font-size: 1.2em;
  line-height: 1.5em;
  padding: 0 1em;
  margin-top: 3em;
}

.green{
  color: #50b948;
}
